*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  /* Var Colors */
  --bg-color: #09090b;
  --surface-color: #18181B;
  --stroke-color: #27272A;
  --text-color-primary: #F4F4F5;
  --text-color-secondary: #A1A1AA;
  --brand-color-primary: #F7B733;
  --brand-color-secondary: #FC4A1A;
  
  /* Var Fonts */
  --ff-sans: 'Inter', system-ui, sans-serif;
  /* 'fw' = font width  */
  --fw-base: 400;
  --fw-md: 500;
  --fw-bold: 800;
  /* 'fs' = font size */
  --fs-sm: 0.875rem; /* small */
  --fs-base: 1rem; /* padrão */
  --fs-lg: 1.25rem; /* large */
  --fs-xl: 1.5rem; /* extra large */
  --fs-2xl: 2.5rem; /* 2x extra large */

  /* Padding no eixo y (vertical)*/
  --py-base: 1rem; /* base: 16px*/
  --py-lg: 1.5rem; /* large: 24px */
  --py-xl: 3rem; /* extra large: 48px */
  /* Padding no eixo x (horozontal)*/
  --px-lg: 1.5rem;
}

html {
  font-family: var(--ff-sans);
  font-weight: var(--fs-base);
  font-size: var(--fs-base);
  line-height: 1.6;
  color: var(--text-color-primary);
}

body {
  background-color: var(--bg-color);
}

h1, h2, h3 {
  line-height: 1.2;
  color: var(--text-color-primary);
  font-weight: var(--fw-bold);
  letter-spacing: -0.04rem;
}

h1 {
  font-size: var(--fs-2xl);
}
h2 {
  font-size: var(--fs-xl);
}
h3{
  font-size: var(--fs-lg);
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  background: linear-gradient(
    90deg,
    var(--brand-color-secondary) 0%,
    var(--brand-color-primary) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

ul[role="list"] {
  list-style: none;
}

img {
  max-width: 100%;
  display: inline-block;
}

.section-title {
  display: block;
  text-align: center;
  margin-top: 4rem;
}

/* Responsividade em 1280px = 80 x 16 */
@media (width >= 80rem) {
  :root {
    /* font size: fs */
    --fs-lg: 2rem; 
    --fs-xl: 3rem;
    --fs-2xl: 4rem;

    /* padding size */
    --py-base: 1.5rem;
    --py-lg: 2.5rem;
    --py-xl: 5rem;
    --px-lg: 2rem;
  }
}
